<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238590285701-0p6l7m09gfmt98h0lnmcbgblcqaklo0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238590285701-0p6l7m09gfmt98h0lnmcbgblcqaklo0h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>238590285701-3h3ur9hilhge4u162cdjem05cdoip7r0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCcV8MSavztxJtiUqLzdwfK6CjDDAjxDI</string>
	<key>GCM_SENDER_ID</key>
	<string>238590285701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.studioseizh.seizhtv</string>
	<key>PROJECT_ID</key>
	<string>seizhtv</string>
	<key>STORAGE_BUCKET</key>
	<string>seizhtv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238590285701:ios:8c7dbe8d4f6c2fe76fd6ec</string>
</dict>
</plist>